﻿@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 10px;">

    <div class="input-group mb-3">
        <div class="input-group">
            <input type="text" id="employee" class="form-control" placeholder="Id" style="float: right;" />
            <span class="input-group-btn">
                <button class="btn btn-outline-secondary" type="button" onclick="getData()">GetEmployees</button>
            </span>
        </div>
    </div>

    <span id="error"></span>
    <br /><br />
    <table class="table" id="data">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">AnnualSalary</th>
                <th scope="col">ContractType</th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function getData() {
        console.log("starting...");
        var id = $("#employee").val();

        if (id !== '') {
            if (isNaN(id)) { alert("The id is not a number"); return; }
        }

        var url = "http://localhost:5000/api/employees";
        var success = getAllCallback;

        if (id !== '') {
            url += "/" + id;
            success = getByIdCallback;
        }

        $("#error").html("");
        $("#data").find("tr:gt(1)").remove();
        $.ajax({
            url: url,
            success: success,
            error: function (error) {
                $("#error").html("An error has occurred, try again");
                console.log(error);
            }
        })
    }

    function addRows(data) {
        $('#data tr:last').after('<tr><td>' + data['id'] + '</td><td>' + data['name'] + '</td><td>' + data['annualSalary'] + '</td><td>' + data['contractType'] + '</td></tr>');
    }

    function getAllCallback(data) {
        console.log(data);
        for (i in data) { addRows(data[i]); }
    }

    function getByIdCallback(data) {
        console.log(data);
        addRows(data);
    }
</script>